body{
background: #2c0203; /* Old browsers */

background: linear-gradient(  #2c0203 0%,#600902 50%,#600902 50%,#f16f01 100%); /* W3C */
background-repeat: no-repeat;
 height:auto;
 overflow: auto;

   color: white;
   

  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  word-wrap: break-word !important;
  font-family: 'roboto', sans-serif;
}
a{
	text-decoration: none;
	color: red;
}
#main{
	 margin: 0 auto;
	 width:70%;
	 margin-bottom: 300px;
}
#mainRestaurant{
	 margin: 0 auto;
	 width:70%;
	 margin-bottom: 600px;
}

#mainImage{
  width: 100%;
  height: auto;
}

.menuImg, .textoComida{
	 height: auto;
	 display: block;
	 float: left;
}
.menuImg{
	width: 60%;
	}
	.textoComida{
		width: 39%;
		text-align: center;
		padding-left: 1%;
	}

section {
	clear:both;
}
/* Media Queries
--------------------------------------------- */

@media all and (max-width : 920px) {
.menuImg, .textoComida{
	 height: auto;
/*	 width: 50%;*/
     font-size:15px;
}
}

@media all and (max-width : 640px) {
.menuImg, .textoComida{
	 height: auto;
	 width: 100%;
	 padding-left: 0px;
	 padding-top: 10px;

}
}







